<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Login</h1>

    <form action="/home" method="post">
        <table>
            <tr>
                <th>ID</th>
                <td><input type="text" name="id" id=""></td>
            </tr>
            <tr>
                <th>PW</th>
                <td><input type="password" name="pw" id=""></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="submit" value="로그인">
                    <input type="button" value="회원가입">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>